@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

.item {
    font-size: 1.65vw;
}

.keyDiv {
    width: 9vw;
}

.userDiv {
    padding-left: 4vw;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90vw;
    background: none;
    text-decoration: none;
    font-size: 2.5vw;
    font-family: Tinos, serif;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    color: blue;
    transition: 1s;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    transition: 1s;
}

a:hover {
    color: blue;
    transition: 1s;
}

#userPosts {
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 90vw;
}

.linkDiv {
    padding: 0.5vw;
    box-sizing: border-box;
    justify-content: center;
    border: black solid 1px;
    width: 17vw;
    height: 10vw;
    margin-bottom: 0.5vw;
    text-align: center;
}

.postsDiv {
    flex-direction: column;
}