.commentsDiv {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    align-items: center;
    font-size: 1vw;
}
.elementWrap {
    width: 25vw;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.keyDiv {
    width: 3vw;
}
.valueDiv {
    width: 22vw;
}
